<html>
<head>
    <style>
        .title {
            text-align: center;
        }
        .content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class = "title">
        <img src="static/img/small_logo.jpg"/>
        <h1>Report Card Viewer</h1>
    </div>
    <div class = "content">
        <form action="/student">
            <label for="github">Enter github id</label>
            <input type="text" name="github" />
            <input type="submit">
        </form>
        <br>
        <a href="/new_project">New Project</a>
        <a href="/new_student">New Student</a>
        <a href="/new_grade">New Grade</a>
    </div>
</body>
</html>